<% layout('Boilerplate.ejs') %>

<% data.forEach(function(d) { %>
  <% if (new Date(d.date) >= new Date()) { %>
<div class="events-container">
  <div class="event-details">
    <div class="event-details__event-date">
      <span class="event__time">Time: <%= d.time %></span>
      <span class="event__date">Date: <%= d.date %></span>
    </div>
    <div class="event-details__event-name-desc">
      <div class="event-name"><%= d.eventName %></div>
      <div class="event-desc">
        <span class="event-desc__sub-desc">
          want to attend?
        </span>
      </div>
    </div>
    <div class="event-links"> 
      <a href="<%= d.eventLink1 %>"><%= d.eventLink1 %></a>
      <% if(d.eventLink2 == '') { %>
        <a href="<%= d.eventLink2 %>"><%= d.eventLink2 %></a>
      <% } %>
    </div>
  </div>
  <div class="event-image">
    <img src="<%= d.link %>" alt="" class="event-image--card__image">
  </div>
</div>
<% } %>
<% }); %>